server {
    listen 0.0.0.0:7070;


    error_page 400 errors/400ErrorPage.html;
    error_page 401 errors/401ErrorPage.html;
    error_page 403 errors/403ErrorPage.html;
    error_page 404 /errors;
    error_page 501 errors/501ErrorPage.html;

	root	/home/amabrouk/Desktop/webserv;

    location / {
        root /;
        index index.html index.htm;
        methods GET POST;
        autoindex on;
        allow_upload on;
        upload_store /www/uploads;
    }

    location /cgi-bin {
        root www/var/cookies;
		autoindex on;
        methods GET POST;
		allow_upload on;
		upload_store /;
        cgi_extension .py /usr/bin/python3;
        cgi_extension .sh /usr/bin/sh;
        cgi_extension .pl /usr/bin/perl;
        cgi_extension .php /usr/bin/php;

    }

    location /upload {
        methods GET POST DELETE;
		autoindex on;
        upload_store /upload;
		allow_upload on;
    }
    
    location /files {
        root /Request;
        methods GET;
        autoindex on;
    }

    location /redirect-me {
        return 301 http://upload;
    }
}
