server {
    listen 0.0.0.0:7070;

    client_max_body_size 2G;

    error_page 404 400 /errors/404.html;
    error_page 500 /;

	root	/home/amabrouk/webserv;

    location / {
        root /;
        index Makefile index.html index.htm;
        methods GET POST;
        autoindex on;
        allow_upload on;
        upload_store /www/uploads;
    }

    location /cgi-bin {
        root /www/var;
        methods GET POST;
		allow_upload on;
		upload_store /;
        cgi_extension .php /usr/bin/php-cgi;
        cgi_extension .py /usr/bin/python3;
    }

    location /upload {
        root /upload;
        methods GET POST DELETE;
        upload_store /upload;
		allow_upload on;
    }
    
    location /files {
        root /Request;
        methods GET;
        autoindex on;
    }

    location /redirect-me {
        return 301 /;
    }
}
