server {
    listen 9999;

    error_page 400 errors/400ErrorPage.html;
    error_page 401 errors/401ErrorPage.html;
    error_page 403 errors/403ErrorPage.html;
    error_page 404 errors/404ErrorPage.html;
    error_page 501 errors/501ErrorPage.html;

	root	/home/amabrouk/webserv;

    location / {
        root /;
        index index.html index.htm;
        methods GET POST;
        autoindex on;
        allow_upload on;
        upload_store /Test/upload;
    }

    location /cgi-bin {
        root www/var;
		autoindex on;
        methods GET POST;
		allow_upload on;
		upload_store /;
        cgi_extension .py /usr/bin/python3;
        cgi_extension .sh /usr/bin/bash;

    }

    location /upload {
		root /Test/upload;
        methods GET POST;
		autoindex on;
        upload_store /Test/upload;
		allow_upload on;
    }
    
    location /test {
        root /Test;
        methods GET;
        autoindex on;
    }

    location /redirect-me {
        return 301 /errors/500ErrorPage.html;
    }

	location /errors {
		root /errors;
		methods GET POST;
		autoindex on;
		allow_upload on;
		upload_store /errors;
	}
}
